/* TAGs */
* {
    background-color: rgb(215, 248, 248);
}

img {
    border-radius: 50%;
}

/* Classes */
.apresentation {
    width: 70%;
    margin: auto;
}

.apresentation p, h4 {
    margin: 15px auto;
    width: 70%;
    text-align: center;
    position: relative;
    bottom: 35px;
}

.brief-apresentation {
    margin: 0 0 0 20%;
}

.img-apresentation {
    display: inline-block;
    margin: auto;
}

.text-apresentation {
    display: inline-block;
    width: 50%;
    margin: auto;
}

.title {
    margin: 20px 0 30px;
    text-align: center;
}
/* Ids */
